body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(86, 90, 89);
}
.demo {
  height: 30rem;
  width: 30rem;
  background-color: rgb(0, 0, 0);
  margin-top: 15%;
  border-radius: 18rem;
  animation: boxanim 20s linear infinite;
}

@keyframes boxanim {
  0% {
    box-shadow: 0px 0px 0px white;
  }
  1% {
    box-shadow: 0px 0px 30px white; /*dot-A*/
  }
  2% {
    box-shadow: 0px 0px 10px white;
  }
  4% {
    box-shadow: 0px 0px 50px white; /*dash-A*/
  }
  14% {
    box-shadow: 0px 0px 0px white;
  }
  16% {
    box-shadow: 0px 0px 30px rgb(6, 243, 6); /*dot-L*/
  }
  17% {
    box-shadow: 0px 0px 10px rgb(6, 243, 6);
  }
  19% {
    box-shadow: 0px 0px 60px rgb(6, 243, 6); /*dash-L*/
  }
  29% {
    box-shadow: 0px 0px 10px rgb(6, 243, 6);
  }
  31% {
    box-shadow: 0px 0px 30px rgb(6, 243, 6); /*dot-L*/
  }
  33% {
    box-shadow: 0px 0px 10px rgb(6, 243, 6);
  }
  34% {
    box-shadow: 0px 0px 30px rgb(6, 243, 6); /*dot-L*/
  }
  36% {
    box-shadow: 0px 0px 0px rgb(6, 243, 6);
  }
  38% {
    box-shadow: 0px 0px 30px rgb(6, 117, 243); /*dot-P*/
  }
  39% {
    box-shadow: 0px 0px 10px rgb(6, 117, 243);
  }
  42% {
    box-shadow: 0px 0px 60px rgb(6, 117, 243); /*dash-P*/
  }
  52% {
    box-shadow: 0px 0px 10px rgb(6, 117, 243);
  }
  53% {
    box-shadow: 0px 0px 60px rgb(6, 117, 243); /*dash-P*/
  }
  62% {
    box-shadow: 0px 0px 10px rgb(6, 117, 243);
  }
  64% {
    box-shadow: 0px 0px 30px rgb(6, 117, 243); /*dot-P*/
  }
  66% {
    box-shadow: 0px 0px 0px rgb(6, 117, 243);
  }
  67% {
    box-shadow: 0px 0px 30px rgb(243, 140, 6); /*dot-H*/
  }
  69% {
    box-shadow: 0px 0px 10px rgb(243, 140, 6);
  }
  71% {
    box-shadow: 0px 0px 30px rgb(243, 140, 6); /*dot-H*/
  }
  73% {
    box-shadow: 0px 0px 10px rgb(243, 140, 6);
  }
  75% {
    box-shadow: 0px 0px 30px rgb(243, 140, 6); /*dot-H*/
  }
  77% {
    box-shadow: 0px 0px 10px rgb(243, 140, 6);
  }
  79% {
    box-shadow: 0px 0px 30px rgb(243, 140, 6); /*dot-H*/
  }
  81% {
    box-shadow: 0px 0px 0px rgb(243, 140, 6);
  }
  83% {
    box-shadow: 0px 0px 30px rgb(235, 6, 243); /*dot-A*/
  }
  85% {
    box-shadow: 0px 0px 10px rgb(235, 6, 243); /*dot-A*/
  }
  87% {
    box-shadow: 0px 0px 60px rgb(235, 6, 243); /*dot-A*/
  }
  97% {
    box-shadow: 0px 0px 10px rgb(235, 6, 243); /*dot-A*/
  }
}
